div.settings-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 97.5%;
  height: 97%;
  background-color: rgb(40, 37, 53);
  border: rgb(40, 37, 53) 5px solid;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 999; /* Ensure the popup appears above other elements */
}

div.UserSettings {
  color: azure;
}

.close-button-settings {
  text-align: end;
  font-size: 2.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
.close-button-btn {
  border: solid #ffffff 0.2rem;
  border-radius: 0.8rem;
  cursor: pointer;
}
