* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #111;
}

.App {
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
}

/* Header styles */

header {
  background-color: rgb(40, 37, 53);
  border: rgb(40, 37, 53) 5px solid;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem 1rem;
}

.img {
  height: 10vh;
  width: 10vh;
  margin-right: 1rem;
}

.img:is(:hover, :focus) {
  height: 12vh;
  width: 12vh;
  transition: 0.2s all;
}

.sign-out {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
}

.sign-out:is(:hover, :focus) {
  background-color: #d86b76;
  color: #000;
  transition: all 0.2s;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #007bff;
}

/* Section styles */

section {
  background-color: rgb(40, 37, 53);
  border: rgb(40, 37, 53) 5px solid;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 1rem;
}

.sign-in {
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  font-weight: bolder;
  border: #000 solid 0.2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sign-in:is(:hover, :focus) {
  border: #fff solid 0.2rem;
  font-size: 1.1rem;
  transition: all 0.2s;
  background-color: #000;
  color: #fff;
}

/* ChatPage styles */

main {
  margin-bottom: 1rem;
  max-height: 60vh;
  overflow-y: auto;
  padding-right: 1rem;
}

.message {
  display: flex;
  align-items: center;
  padding: 2px;
  margin: 0.5rem 0;
}

.message.received p {
  margin-top: 0.5rem;
  border: solid #e5e5e5;
  border-radius: 1rem;
  background: #e5e5ea;
}
.received {
  flex-direction: row;
}

.sent {
  flex-direction: row-reverse;
}
.message.sent p {
  border: solid #36e036;
  border-radius: 1rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
  align-self: flex-end;
  background: #36e036;
}

.message.sent div.username {
  align-self: flex-end;
  margin-right: 0.5rem;
}

.message img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.message p {
  background-color: #eee;
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  max-width: 30rem;
}

.username {
  color: #ffffff;
  font-size: small;
  padding-top: 5px;
}

form {
  display: flex;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
}

/* placeholder */
input:focus::-webkit-input-placeholder {
  position: fixed;
  align-items: center;
  font-size: large;
  transition: all 0.2s;
}

/* Firefox < 19 */
input:focus:-moz-placeholder {
  position: fixed;
  align-items: center;
  font-size: large;
  transition: all 0.2s;
}

/* Firefox > 19 */
input:focus::-moz-placeholder {
  position: fixed;
  align-items: center;
  font-size: large;
  transition: all 0.2s;
}

/* Internet Explorer 10 */
input:focus:-ms-input-placeholder {
  position: fixed;
  align-items: center;
  font-size: large;
  transition: all 0.2s;
}

input {
  background-color: #007bff;
  color: #000;
  font-weight: bold;
  width: 100%;
  flex: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
}

input::selection {
  background-color: #36e036;
  color: #007bff;
}

.savebtn {
  display: inline-block;
  border-radius: 0.7rem;
  background-color: #36e036;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
  padding: 0.5rem;
  width: 7rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 25px;
}

.savebtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.savebtn span:after {
  content: "✓";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.savebtn:hover span {
  padding-right: 15px;
}

.savebtn:hover span:after {
  opacity: 1;
  right: 0;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

button[type="submit"]:is(:hover, :focus) {
  background-color: #54a7ff;
  transition: all 0.2s;
  color: #000;
}

.portfolio-button {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #4c7aaf;
  color: #000;
  font-size: 1rem;
  font-weight: bolder;
  border-radius: 1rem;
  text-decoration: none;
}

.portfolio-button:is(:hover, :focus) {
  color: #fff;
  transition: all 0.2s;
  background-color: #4caf50;
  font-size: 1.2rem;
}
