* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #111;
}

.App {
  margin: 0 auto;
  padding: 1rem;
}

/* Header styles */
header {
  background-color: rgb(40, 37, 53);
  border: rgb(40, 37, 53) 5px solid;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem 1rem;
}

.img {
  height: 10vh;
  width: 10vh;
  margin-right: 1rem;
}

*::-webkit-scrollbar {
  width: 0.25rem;
}

*::-webkit-scrollbar-track {
  background: #1e1e24;
}

*::-webkit-scrollbar-thumb {
  background: #007bff;
}

/* Section styles */
section {
  background-color: rgb(40, 37, 53);
  border: rgb(40, 37, 53) 5px solid;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 1rem;
}

/* sign-in button */
:root {
  --base-colour: #313244;
  --move-colour: #fff;
}

.button--toggle {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  clip-path: inset(0px, 0px, 0px, 0px);
  outline: none;
  padding: 3px;
  overflow: hidden;
  border: 0;
  border-radius: 3px;
  cursor: pointer;
  background-color: #000;
  box-shadow: 0 8px 16px 0 #7f849c0c, 0 6px 20px 0 #7f849c15;
  transition: transform 0.2s ease;   
  &:hover {
    transform: scale(1.05);
  } 
}
.button--toggled .animating {
  background-size: 100% 100%;
  background: linear-gradient(
    0deg,
    var(--base-colour) 40%,
    var(--move-colour) 50%,
    var(--base-colour) 60%
  );
  animation: rotation 1s linear infinite;
}
.button--toggled .innerAnimating {
  height: 150%;
  width: 50%;
  background: var(--base-colour);
}

.button--text {
  opacity: 1;
  z-index: 1;
  position: relative;
  display: flex;
  padding: 15px;
  background-color: #181825;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
}

.animating {
  border-radius: 5px;
  z-index: 0;
  height: 500%;
  width: 300%;
  display: flex;
  align-items: center;
  position: absolute;
}

.moving {
  z-index: 0;
  height: 400px;
  width: 400px;
  display: flex;
  align-items: center;
  position: absolute;
  background-size: 400% 400%;
  background: linear-gradient(
    0deg,
    var(--base-colour) 40%,
    var(--move-colour) 50%,
    var(--base-colour) 60%
  );
  animation: rotation 0.5s ease-in-out infinite;
}

.inner {
  height: 190px;
  width: 190px;
  background: white;
  transform: none;
  position: relative;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* sign-in button */
/* card */
.card-container {
  display: flex;
  justify-content: space-between; 
  margin: 0 auto;
  margin-top: 2rem;
}

.card {
  background-color: rgba(10, 10, 27, 0.329);
  color: #cdd6f4;
  border: 1px solid #11111b;
  width: 50%;
  border-radius: 1rem; 
  padding: 2rem; 
  margin: 2rem; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  transition: transform 0.2s ease;   
  &:hover {
    transform: scale(1.02); 
    color: #cba6f7;
  }
}
/* card */
/* ChatPage styles */
main {
  margin-bottom: 1rem;
  max-height: 60vh;
  overflow-y: auto;
  padding-right: 1rem;
}

.message-date {
  display: flex;
  justify-content: center;
}
.message-date span {
  color: #ffffff;
  background-color: #121212;
  font-size: small;
  border-radius: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.message {
  display: flex;
  align-items: center;
  padding: 2px;
  margin: 0.5rem 0;
}

.message.received p {
  align-self: flex-start;
}
.received {
  flex-direction: row;
}

.sent {
  flex-direction: row-reverse;
}
.message.sent p {
  margin-right: 0.5rem;
  align-self: flex-end;
}

.message img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.message p {
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  margin-top: -0.5rem;
}

.message div.msgbox {
  max-width: 65%;
}

.username {
  font-size: small;
}

.message-time {
  color: #555555;
  font-size: small;
  display: flex;
}

.message.received .message-time{
  flex-direction: row-reverse;
}

.message.sent div.username {
  margin-left: 1rem;
  align-self: flex-end;
}

.message.received div.username {
  margin-right: 1rem;
}

.message.sent div.usernameandtime {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: space-between;
}

.moreicon{
  margin-top: 0.15rem;
  &:hover{
    color: #007bff;
  }
}

.delete-button{
  margin-left: 0.2rem;
  margin-top: 0.15rem;
  margin-left: -0.25rem;
  &:hover{
    color: #007bff;
  }  
}

.message.received div.usernameandtime {
  display: flex;
  flex-direction: row;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: space-between;
}

.message.sent div.msgbox {
  background: #62dd62;
  border: solid #62dd62;
  border-radius: 1rem;
  margin-right: 0.5rem;
}

.message.received div.msgbox {
  background: #e5e5ea;
  border: solid #e5e5ea;
  border-radius: 1rem;
}

form {
  display: flex;
}

/* placeholder */
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
}

input:focus::-webkit-input-placeholder {
  position: fixed;
  align-items: center;
  font-size: large;
  transition: all 0.2s;
}

/* Firefox < 19 */
input:focus:-moz-placeholder {
  position: fixed;
  align-items: center;
  font-size: large;
  transition: all 0.2s;
}

/* Firefox > 19 */
input:focus::-moz-placeholder {
  position: fixed;
  align-items: center;
  font-size: large;
  transition: all 0.2s;
}

/* Internet Explorer 10 */
input:focus:-ms-input-placeholder {
  position: fixed;
  align-items: center;
  font-size: large;
  transition: all 0.2s;
}
/* placeholder */

input {
  background-color: #007bff;
  color: #000;
  font-weight: bold;
  width: 100%;
  flex: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
}

input:focus {
  background-color: #5896eb;
}

input::selection {
  background-color: #00ff7b;
}

.savebtn {
  display: inline-block;
  border-radius: 0.7rem;
  background-color: #62dd62;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
  padding: 0.5rem;
  width: 7rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 25px;
}

.savebtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.savebtn span:after {
  content: "✓";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.savebtn:hover span {
  padding-right: 15px;
}

.savebtn:hover span:after {
  opacity: 1;
  right: 0;
}
 
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  &:is(:hover, :focus){
    background-color: #54a7ff;
    transition: all 0.2s;
    color: #000;
  }
}

.githubbtn {
  border: none;
  border-radius: 0.5rem;
  background-color: #9399b2;
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
  padding: 0.5rem;
  width: 8rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 25px;
  box-shadow: 0 8px 16px 0 #11111b, 0 6px 20px 0 #11111b;
  transition: transform 0.2s ease;  
  &:hover {
    background-color: #b4befe;
    transform: scale(1.05);
  } 
}

.githubbtn a {
  text-decoration: none;
  justify-content: center;
  color: #11111b;
  display: flex;
  font-weight: bold;
  font-size: 1rem;
}

/* Navbar */
.navbar {
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.menu-bars {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
  background: none;
  cursor: pointer;
  transition: all 0.2s;
}

.nav-menu {
  background-color: #212121;
  width: 250px;
  display: flex;
  justify-content: center;
  position: fixed;
  border-radius: 1rem;
  right: -100%;
  top: 0;
  transition: 850ms;
  margin-right: 1rem;
  margin-top: 1rem;
}

.nav-menu.active {
  right: 0;
  top: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
  color: #f5f5f5;
  font-size: 18px;
  border-radius: 1rem;
  cursor: pointer;
  &:hover {
    background-color: #1a83ff;
  }
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  border-radius: 1rem;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
  &:hover {
    background-color: #1a83ff;
  }
}

.navbar-span {
  margin-left: 16px;
}
/* Navbar */
/* usersettings */
div.settings-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-color: rgb(40, 37, 53);
  z-index: 999; /* Ensure the popup appears above other elements */
}

div.UserSettings {
  color: azure;
}

.close-button-settings {
  text-align: end;
  font-size: 2.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
.close-button-btn {
  border: solid #ffffff 0.2rem;
  border-radius: 0.8rem;
  cursor: pointer;
}
.settings-box {
  border: solid #ffffff 0.3rem;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1.5rem;
}
.ver-mark-span {
  color: #000;
  background-color: #1a83ff;
  border-radius: 0.7rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 900;
}
/* usersettings */
/* verification toggle */
.toggler {
  width: 72px;
  margin-left: 0.5rem;
}

.toggler input {
  display: none;
}

.toggler label {
  display: block;
  position: relative;
  width: 72px;
  height: 36px;
  border: 1px solid #d6d6d6;
  border-radius: 36px;
  background: #e4e8e8;
  cursor: pointer;
}

.toggler label::after {
  display: block;
  border-radius: 100%;
  background-color: #d7062a;
  content: "";
  animation-name: toggler-size;
  animation-duration: 0.15s;
  animation-timing-function: ease-out;
  animation-direction: forwards;
  animation-iteration-count: 1;
  animation-play-state: running;
}

.toggler label::after,
.toggler label .toggler-on,
.toggler label .toggler-off {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 26px;
  height: 26px;
  transform: translateY(-50%) translateX(-50%);
  transition: left 0.15s ease-in-out, background-color 0.2s ease-out,
    width 0.15s ease-in-out, height 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.toggler input:checked + label::after,
.toggler input:checked + label .toggler-on,
.toggler input:checked + label .toggler-off {
  left: 75%;
}

.toggler input:checked + label::after {
  background-color: #50ac5d;
  animation-name: toggler-size2;
}

.toggler .toggler-on,
.toggler .toggler-off {
  opacity: 1;
  z-index: 2;
}

.toggler input:checked + label .toggler-off,
.toggler input:not(:checked) + label .toggler-on {
  width: 0;
  height: 0;
  opacity: 0;
}

.toggler .path {
  fill: none;
  stroke: #fefefe;
  stroke-width: 7px;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

@keyframes toggler-size {
  0%,
  100% {
    width: 26px;
    height: 26px;
  }

  50% {
    width: 20px;
    height: 20px;
  }
}

@keyframes toggler-size2 {
  0%,
  100% {
    width: 26px;
    height: 26px;
  }

  50% {
    width: 20px;
    height: 20px;
  }
}
/* verification toggle */
/* preloader */
#preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 97.5%;
  height: 97%;
  z-index: 999999;
  background-color: rgb(40, 37, 53);
  background-image: url(./preloader.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}
/* preloader */