* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Segoe UI", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #111;
}

.App {
  margin: 0 auto;
  padding: 1rem;
}

/* Header styles */

header {
  background-color: rgb(40, 37, 53);
  border: rgb(40, 37, 53) 5px solid;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  padding: 1rem 1rem;
}

.img {
  height: 10vh;
  width: 10vh;
  margin-right: 1rem;
}

.img:is(:hover, :focus) {
  height: 12vh;
  width: 12vh;
  transition: 0.2s all;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #007bff;
}

/* Section styles */

section {
  background-color: rgb(40, 37, 53);
  border: rgb(40, 37, 53) 5px solid;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 1rem;
}

.sign-in {
  background-color: #fff;
  color: #000;
  font-size: 1rem;
  font-weight: bolder;
  border: #000 solid 0.2rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.sign-in:is(:hover, :focus) {
  border: #fff solid 0.2rem;
  font-size: 1.1rem;
  transition: all 0.2s;
  background-color: #000;
  color: #fff;
}

/* ChatPage styles */

main {
  margin-bottom: 1rem;
  max-height: 60vh;
  overflow-y: auto;
  padding-right: 1rem;
}

.message-date {
  display: flex;
  justify-content: center;
}
.message-date span {
  color: #ffffff;
  background-color: #121212;
  font-size: small;
  border-radius: 0.5rem;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.message {
  display: flex;
  align-items: center;
  padding: 2px;
  margin: 0.5rem 0;
}

.message.received p {
  align-self: flex-start;
}
.received {
  flex-direction: row;
}

.sent {
  flex-direction: row-reverse;
}
.message.sent p {
  margin-right: 0.5rem;
  align-self: flex-end;
}

.message img {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.message p {
  padding: 0.5rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  margin-top: -0.5rem;
}

.message div.msgbox {
  max-width: 65%;
}

.username {
  font-size: small;
}

.message-time {
  color: #555555;
  font-size: small;
}

.message.sent div.username {
  margin-left: 1rem;
  align-self: flex-end;
}

.message.received div.username {
  margin-right: 1rem;
}

.message.sent div.usernameandtime {
  display: flex;
  flex-direction: row-reverse;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: space-between;
}

.message.received div.usernameandtime {
  display: flex;
  flex-direction: row;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  justify-content: space-between;
}

.message.sent div.msgbox {
  background: #62dd62;
  border: solid #62dd62;
  border-radius: 1rem;
  margin-right: 0.5rem;
}

.message.received div.msgbox {
  background: #e5e5ea;
  border: solid #e5e5ea;
  border-radius: 1rem;
}

form {
  display: flex;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #000;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #000;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #000;
}

/* placeholder */
input:focus::-webkit-input-placeholder {
  position: fixed;
  align-items: center;
  font-size: large;
  transition: all 0.2s;
}

/* Firefox < 19 */
input:focus:-moz-placeholder {
  position: fixed;
  align-items: center;
  font-size: large;
  transition: all 0.2s;
}

/* Firefox > 19 */
input:focus::-moz-placeholder {
  position: fixed;
  align-items: center;
  font-size: large;
  transition: all 0.2s;
}

/* Internet Explorer 10 */
input:focus:-ms-input-placeholder {
  position: fixed;
  align-items: center;
  font-size: large;
  transition: all 0.2s;
}

input {
  background-color: #007bff;
  color: #000;
  font-weight: bold;
  width: 100%;
  flex: 1;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1rem;
}

input:focus {
  background-color: #5896eb;
}

input::selection {
  background-color: #00ff7b;
}

.savebtn {
  display: inline-block;
  border-radius: 0.7rem;
  background-color: #62dd62;
  border: none;
  color: #000000;
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
  padding: 0.5rem;
  width: 7rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 25px;
}

.savebtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.savebtn span:after {
  content: "✓";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -15px;
  transition: 0.5s;
}

.savebtn:hover span {
  padding-right: 15px;
}

.savebtn:hover span:after {
  opacity: 1;
  right: 0;
}

button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

button[type="submit"]:is(:hover, :focus) {
  background-color: #54a7ff;
  transition: all 0.2s;
  color: #000;
}

.githubbtn {
  border: none;
  border-radius: 1rem;
  background-color: #4c7aaf;
  text-align: center;
  font-size: 1rem;
  font-weight: bolder;
  padding: 0.5rem;
  width: 10rem;
  transition: all 0.5s;
  cursor: pointer;
  margin-top: 25px;
}

.githubbtn p {
  color: #000;
  text-align: center;
}

.githubbtn a {
  text-decoration: none;
}
.githubbtn:is(:hover, :focus) {
  background-color: #5896eb;
}
/* Navbar */
.navbar {
  height: 80px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  cursor: pointer;
  transition: all 0.2s;
}

.menu-bars {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 2rem;
  background: none;
  cursor: pointer;
  transition: all 0.2s;
}

.nav-menu {
  background-color: #212121;
  width: 250px;
  display: flex;
  justify-content: center;
  position: fixed;
  border-radius: 1rem;
  right: -100%;
  top: 0;
  transition: 850ms;
  margin-right: 1rem;
  margin-top: 1rem;
}

.nav-menu.active {
  right: 0;
  top: 0;
  transition: 350ms;
}

.nav-text {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
  color: #f5f5f5;
  font-size: 18px;
  border-radius: 1rem;
  cursor: pointer;
}

.nav-text:hover {
  background-color: #1a83ff;
}

.nav-menu-items {
  width: 100%;
}

.navbar-toggle {
  width: 100%;
  height: 80px;
  display: flex;
  border-radius: 1rem;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.navbar-toggle:hover {
  background-color: #1a83ff;
}

.navbar-span {
  margin-left: 16px;
}
/* usersettings */
div.settings-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 97.5%;
  height: 97%;
  background-color: rgb(40, 37, 53);
  border: rgb(40, 37, 53) 5px solid;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  z-index: 999; /* Ensure the popup appears above other elements */
}

div.UserSettings {
  color: azure;
}

.close-button-settings {
  text-align: end;
  font-size: 2.5rem;
  margin-top: 0.5rem;
  margin-right: 0.5rem;
}
.close-button-btn {
  border: solid #ffffff 0.2rem;
  border-radius: 0.8rem;
  cursor: pointer;
}
.settings-box {
  border: solid #ffffff 0.3rem;
  border-radius: 1rem;
  margin: 1rem;
  padding: 1.5rem;
}
.ver-mark-span {
  color: #000;
  background-color: #1a83ff;
  border-radius: 0.7rem;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 900;
}
/* verification toggle */
.toggler {
  width: 72px;
  margin-left: 0.5rem;
}

.toggler input {
  display: none;
}

.toggler label {
  display: block;
  position: relative;
  width: 72px;
  height: 36px;
  border: 1px solid #d6d6d6;
  border-radius: 36px;
  background: #e4e8e8;
  cursor: pointer;
}

.toggler label::after {
  display: block;
  border-radius: 100%;
  background-color: #d7062a;
  content: "";
  animation-name: toggler-size;
  animation-duration: 0.15s;
  animation-timing-function: ease-out;
  animation-direction: forwards;
  animation-iteration-count: 1;
  animation-play-state: running;
}

.toggler label::after,
.toggler label .toggler-on,
.toggler label .toggler-off {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 26px;
  height: 26px;
  transform: translateY(-50%) translateX(-50%);
  transition: left 0.15s ease-in-out, background-color 0.2s ease-out,
    width 0.15s ease-in-out, height 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.toggler input:checked + label::after,
.toggler input:checked + label .toggler-on,
.toggler input:checked + label .toggler-off {
  left: 75%;
}

.toggler input:checked + label::after {
  background-color: #50ac5d;
  animation-name: toggler-size2;
}

.toggler .toggler-on,
.toggler .toggler-off {
  opacity: 1;
  z-index: 2;
}

.toggler input:checked + label .toggler-off,
.toggler input:not(:checked) + label .toggler-on {
  width: 0;
  height: 0;
  opacity: 0;
}

.toggler .path {
  fill: none;
  stroke: #fefefe;
  stroke-width: 7px;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

@keyframes toggler-size {
  0%,
  100% {
    width: 26px;
    height: 26px;
  }

  50% {
    width: 20px;
    height: 20px;
  }
}

@keyframes toggler-size2 {
  0%,
  100% {
    width: 26px;
    height: 26px;
  }

  50% {
    width: 20px;
    height: 20px;
  }
}
/* preloader */
#preloader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 97.5%;
  height: 97%;
  z-index: 999999;
  background-color: rgb(40, 37, 53);
  border: rgb(40, 37, 53) 5px solid;
  border-radius: 25px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background-image: url(./preloader.svg);
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
}

#no-scroll {
  overflow: hidden;
  height: 100vh;
}
